*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	color: rgb(100,100,100);
}

h2{
	width: 540px;
	height: 200px;
	border: dashed 2px white;
	margin: 0 auto;
	padding-top: 70px;
	font-size: 60px;
	font-weight: 700;
	color: rgb(250,250,250);
	letter-spacing: 8px;
}

h3{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.5px;
}

a{
	font-size: 18px;
	text-decoration: none;
	font-weight: 600;
}

.parallax-header{
	height: 100vh;
	text-align: center;
	width: 100%;
    background-size: cover;
	display: flex;
	transition: initial;
    background: transparent;
}

.contenedor-menu{
	display: block;
	position: fixed;
	width: 100%;
	z-index: 400;
	transition: 0.5s;
}

.menu{
	margin: 0 auto;
	width: 1000px;
	transition: 0.5s;
}

.menu ul{
	padding-top: 100px;
	transition: 0.5s;
}

.menu li{
	display: inline-block;
}

.menu li a{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	display: inline-block;
	width: 200px;
	font-size: 24px;
	font-weight: 600;
	color: rgb(250,250,250);
	cursor: pointer;
}

.menu li a:hover{
	color: rgb(80,170,180);
	transition: all 0.2s linear;
}

.logo-grande{
	margin: 0 auto;
	margin-top: 350px;
}

.bio{
	position: relative;
	height: 400px;
	margin: 100px 0px;
	text-align: center;
	align-items: center;
}

.bio button{
	height: 400px;
	border-width: 0px;
	padding: 0px;
	border-style: none;
	cursor: pointer;
}

.img-bio{
	display: inline-block;
	height: 400px;
}

.text-bio{
	cursor: pointer;
	width: 600px;
	height: 400px;
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	z-index: 3;
	display: flex;
	align-items: center;
}

.text-bio h2{
	height: 100px;
	padding-top: 150px;
	border: none;
	padding: 0px;
	margin: 0 auto;
	font-size: 100px;
}

.contenedor-bio{
	display: inline-block;
	vertical-align: top;
	background-color: rgb(240,240,240);
	margin: 0 auto;
	width: 470px;
	height: 400px;
	text-align: center;
}

.contenedor-bio h3{
	padding-top: 20px;
}

.contenedor-bio p{
	display: block;
	padding: 15px 20px;
	font-size: 13px;
	letter-spacing: 0.48px;
	line-height: 11.5pt;
}

.contenedor-bio p span{
	font-weight: 600;
}

.parallax-musica {
	width: 100%;
    height: 300px;
    background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
    background: transparent;
}

.parallax-video {
	width: 100%;
    height: 300px;
    background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
    background: transparent;
}

.parallax-fotos {
	width: 100%;
    height: 300px;
    background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
    background: transparent;
}

.parallax-conciertos {
	width: 100%;
    height: 300px;
    background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
    background: transparent;
}

.parallax-contacto {
	width: 100%;
    height: 300px;
    background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition: initial;
    background: transparent;
}

.nuevo-lanzamiento{
	text-align: center;
	display: block;
	margin-bottom: 25px;
}

.nuevo-lanzamiento h3, p, a{
	display: inline;
}

.video-nuevo{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 550px;
	text-align: center;
}

.video-nuevo iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slider-video div{
	margin: 0 auto;
	width: 1000px;
	height: 550px;
}


.slider-video iframe{
	width: 1000px;
	height: 550px;
}

.albumes{
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	
}

.albumes div{
	display: inline-block;
}

.albumes span{
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 25px;
}

.banner.videos{
	background-image: url("../img/banner-video.jpg");
}

.contenedor-sliderimagenes{
	padding-top: 25px;
	padding-bottom: 100px;
	margin: 0 auto;
	width: 980px;
}

.slider-imagenes img{
	width: 155px;
	height: 90px;
	margin: 0 auto;
}

.banner.fotos{
	background-image: url("../img/banner-fotos.jpg");
}

.cont-fotos{
	width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

}

.cont-fotos div{
	display: inline-block;
	vertical-align: top;
}

.banner.conciertos{
	background-image: url("../img/banner-video.jpg");
}

.conciertos{
	margin: 0 auto;
	height: 300px;
	width: 640px;
	margin-bottom: 50px;
}

.conciertos div{
	display: inline-block;
}

.texto-conciertos{
	vertical-align: top;
}

.conciertos h3{
	margin-top: 40px;
	vertical-align: top;

}

.conciertos p{
	margin-top: 15px;
	display: block;
	letter-spacing: 0.5px;
}

.conciertos a{
	color: rgb(100,100,100);
	display: inline-block;
	margin-top: 45px;
	padding: 15px 50px;
	border: solid 2px rgb(100,100,100);
	border-radius: 15px;
	transition: 0.3s;
}

.conciertos a:hover{
	color: rgb(255,255,255);
	display: inline-block;
	margin-top: 45px;
	padding: 15px 50px;
	border: solid 2px rgb(100,100,100);
	border-radius: 15px;
	background-color: rgb(100,100,100);

}

.mailing{
	margin: 0 auto;
	text-align: center;
}

.mailing h3{
	margin-bottom: 20px;
}

.con-form{
	text-align: center;
	vertical-align: top;
	margin: 0 auto;
	width: 1000px;
}

.formulario{
	text-align: left;
	align-items: center;
	display: inline-block;
	width: 300px;
	margin: 30px 15px

}

.formulario p{
	display: inline-block;
	margin-top: 30px;
	font-size: 15px;
}

.formulario input{
	margin-top: 10px;
	width: 300px;
	border-style: none none solid none;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	border-color: rgb(100,100,100);
	color: rgb(100,100,100);
}

.con-form a{
	margin: 0 auto;
	color: rgb(100,100,100);
	display: inline-block;
	margin-top: 30px;
	padding: 15px 50px;
	border: solid 2px rgb(100,100,100);
	border-radius: 15px;
	transition: 0.3s;
	margin-bottom: 75px;
}

.con-form a:hover{
	color: rgb(255,255,255);
	display: inline-block;
	padding: 15px 50px;
	border: solid 2px rgb(100,100,100);
	border-radius: 15px;
	background-color: rgb(100,100,100);

}

.tienda{
	text-align: center;
}

.tienda h3{
	margin-bottom: 40px;
}

.contenedor-slidertienda{
	margin: 0 auto;
	width: 980px;
	text-align: center;
}

.contenedor-slidertienda img{
	margin: 0 auto;
}

.slick-slide{
	opacity:0.4;
}

.slick-current{
	opacity:1;
}

.contenedor-slidertextotienda{
	padding-bottom: 70px;
}

.slider-textotienda div{
	text-align: center;
	margin: 0 auto;
	width: 300px;
}

.slider-textotienda div h4{
	padding: 20px 0px 25px;
	font-size: 18px;
	font-weight: 600;
}

.footer {
	display: hidden;
    position: fixed;
    z-index: 300;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(50,50,50);
    color: white;
    text-align: center;
    transition: 0.5s;
    color: rgb(255,255,255);
    vertical-align: top;
}

.footer div{
	vertical-align: middle;
	justify-content: center;
	width: 320px;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.48px;
}

.fa {
	align-items: center;
	padding: 3px;
	font-size: 18px !important;
	width: 24px;
	text-align: center;
	text-decoration: none;
	margin: 0px 10px;
	border-radius: 50%;
	background: rgb(255,255,255);
	color: rgb(50,50,50);
}

.fa:hover {
    opacity: 0.7;
}



.clear{
	clear: both;
}



/*////////////////////////////////////////////////////*/



.menu.shrink{
	width: 100%;
	height: 50px;
	transition: 0.5s;
}

.shrink ul{
	background-color: rgb(0,0,0,0.5);
	padding: 15px 0px;
	transition: 0.5s;
}

.shrink li a{
	font-size: 16px;
	transition: 0.5s;
}

.slick-prev:before, .slick-next:before {
	color: rgb(100,100,100) !important;
}



/*////////////////////////////////////////////////////*/



@media (max-width: 1350px){
	.modal-content{
		margin-top: 50px !important;
	}
	.mySlides{
		height: 58vw !important;
	}
}

@media (max-width: 1072px){
	.img-bio button{
		display: none;
	}

	.text-bio{
		background-image: url("../img/img-bio3.jpg");
	}
}


@media (max-width: 1000px){
	.logo-grande{
		margin: 0 auto;
		margin-top: 50vh;
	}

	.logo-grande img{
		width: 80vw;
	}

	.menu{
		margin: 0 auto;
		width: 100%;
	}

	.menu ul{
		padding-top: 5px;
	}

	.menu li{
		padding-top: 25px;
		display: block;
	}

	.menu li a{
		font-family: 'Raleway', sans-serif;
		letter-spacing: 2px;
		display: inline-block;
		font-size: 20px;
		font-weight: 600;
		color: rgb(250,250,250);
		cursor: pointer;
	}

	.menu.shrink{
		display: none !important;
	}

	.nuevo-lanzamiento p, a{
		font-size: 13px !important;
	}

	.nuevo-lanzamiento h3{
		padding-bottom: 10px;
		display: block;
	}

	.albumes{
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.albumes div{
		display: block;
	}

	.albumes h3{
		font-size: 14px !important;
		margin-top: 30px;
	}

	.albumes iframe{
		width: 80%;
		height: 300px;
		overflow-y: visible;
		position: relative;
	}

	.video-nuevo{
		width: 100% !important;
		height: 0 !important;
		padding-top: 25px;
		padding-bottom: 56.25%;
	}

	.slider-video div{
		width: 700px;
		height: 385px;
	}


	.slider-video iframe{
		width: 700px;
		height: 385px;
	}

	.contenedor-sliderimagenes{
		width: 700px;
	}

	.con-form{
		width: 100%;
	}

	.formulario{
		display: block;
		width: 100%;
		margin: 0px;
		padding-left: 15px;
	}

	.formulario input {
    	width: 95%;
	}

	.contenedor-slidertienda{
		width: 750px;
	}

	.footer{
		display: hidden;
   	 	position: static;
   		z-index: 300;
    	left: 0;
    	bottom: 0;
		width: 100%;
		height: 200px;
		background-color: rgb(50,50,50);
		color: white;
		text-align: center;
		transition: 0.5s;
		color: rgb(255,255,255);
		vertical-align: top;
	}

	.footer div{
		text-align: center !important;
		margin: 17px 0px;
		vertical-align: middle;
		justify-content: center;
		width: 320px;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0.48px;
	}

	.fa {
		align-items: center;
		padding: 3px;
		font-size: 26px !important;
		width: 32px;
		text-align: center;
		text-decoration: none;
		margin: 0px 5px;
		border-radius: 50%;
		background: rgb(255,255,255);
		color: rgb(50,50,50);
	}

	.shrink li a{
		font-size: 12px;
		transition: 0.5s;
	}
	.row{
		width: 90% !important;
	}
	.column {
		width: 100% !important;
	}

	.column img{
		width: 90% !important;
	}
}

@media (max-width: 700px){
	.slider-video div{
		width: 500px;
		height: 275px;
	}


	.slider-video iframe{
		width: 500px;
		height: 275px;
	}

	.contenedor-sliderimagenes{
		width: 500px;
	}

	.contenedor-slidertienda{
		width: 500px;
	}

	.conciertos{
		width: 100%;
		height: 250px;
		text-align: center;
	}

	.conciertos h3 {
    margin-top: 0px;
}

	.conciertos img{
		display: none;
	}

	.conciertos div{
		margin-right: 0px !important;
	}

	.texto-conciertos{
		width: 300px;
		text-align: center;
		margin: 0 auto;
	}
}

@media (max-width: 600px){
	.row{
		text-align: center !important;
		display: inline-block !important;
	}
}

@media (max-width: 500px){
	h2{
		width: 80%;
		height: 120px;
		border: dashed 1px white;
		margin: 0 auto;
		padding-top: 40px;
		font-size: 30px;
		font-weight: 700;
		color: rgb(250,250,250);
		letter-spacing: 6px;
	}

	.contenedor-slidertienda{
		width: 240px;
	}

	.bio{
		height: auto;
		margin: 50px 0px;
	}

	.img-bio{
		height: 0px;
	}

	.text-bio{
		background-image: url("../img/img-bio4.jpg");
		width: 300px;
		height: 200px;
		margin: 0 auto;
		position: static;
		transform: none;
		left: none;
	}

	.contenedor-bio{
		vertical-align: top;
		background-color: rgb(240,240,240);
		margin: 0 auto;
		width: 300px;
		height: 580px;
		text-align: center;
	}

	.slider-video div{
		margin: 0 auto;
		width: 450px;
		height: 250px;
	}

	.slider-video iframe{
		width: 450px;
		height: 250px;
	}

	.contenedor-sliderimagenes{
		width: 0;
		padding: 0px;
	}

	.parallax-musica {
	    height: 200px;
	}

	.parallax-video {
	    height: 200px;
	}

	.parallax-fotos {
	    height: 200px;
	}

	.parallax-conciertos {
		height: 200px;
	}

	.parallax-contacto {
		height: 200px;
	}

	.mailing{
		width: 95%;
	}

	.mailing p{
		font-size: 12px;
	}

	.mailing a{
		font-size: 13px !important;
	}
}

@media (max-width: 450px){
	.slider-video div{
		width: 400px;
		height: 220px;
	}


	.slider-video iframe{
		width: 400px;
		height: 220px;
	}
}

@media (max-width: 400px){
	.slider-video div{
		width: 350px;
		height: 200px;
	}


	.slider-video iframe{
		width: 350px;
		height: 200px;
	}
}

@media (max-width: 350px){
	.slider-video div{
		width: 300px;
		height: 165px;
	}


	.slider-video iframe{
		width: 300px;
		height: 165px;
	}
}

@media (max-height: 865px){
	.parallax-header{
		height: 865px;
	}

}



/*////////////////////////////////////////////////////*/



.row{
	margin: 0 auto;
	width: 1000px;
	display: flex;
	justify-content: space-between;
}

.row > .column {
  padding: 0px 0px 50px;
}

.row:after {
  display: table;
  clear: both;
}

.column {
	display: inline-block;
  width: 300px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 500;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
	height: 800px;
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev2{
	left: 0;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}